html {
    background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

div {margin: 0; padding: 0;}
div div {background: #A4CA39; position: relative;}

.android {
    height: 404px; width: 334px;
    margin: 100px auto;
}

.head {
    width: 220px; height: 100px; top: 32px;
    border-radius: 110px 110px 0 0;
    -moz-border-radius: 110px 110px 0 0;
    -webkit-border-radius: 110px 110px 0 0;
    -webkit-transition: all 0.1s ease-in;
}

.l_eye, .r_eye {
    background: #fff;
    width: 20px; height: 20px;
    position: absolute; top:42px;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.l_eye{left: 50px;}
.r_eye{right: 50px;}

.l_ant, .r_ant {
    width: 6px; height: 50px;
    position: absolute; top:-34px;
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.l_ant {
    left: 50px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.r_ant {
    right: 50px;
    transform: rotate(30deg));
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }
    80% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

.body {
    width: 220px; height: 184px; top: 40px;
    
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
}

.android:hover .head {
    animation: bounce 2s;
}

.l_suit {
    width: 105px; position: absolute;
    height: 184px;
    background-color: #000;
    border-radius: 0 70px 0 25px;
    -webkit-border-radius: 0 70px 0 25px;
    -moz-border-radius: 0 70px 0 25px;
}

.r_suit {
    width: 105px; position: absolute;
    height: 184px;
    background-color: #000;
    right: 0px;
    border-radius: 70px 0 25px 0;
    -webkit-border-radius: 70px 0 25px 0;
    -moz-border-radius: 70px 0 25px 0;
}



.l_arm, .r_arm, .l_leg, .r_leg {
    width: 50px; position: absolute;
    -webkit-transition: all 0.1s ease-in;
}

.l_arm, .r_arm {
    background-color: #000;
    height: 150px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.l_leg, .r_leg {
    background-color: #000;
    height: 100px; top: 182px;
    border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
}

.l_arm {left: -58px;}
.r_arm {right: -58px;}
.l_leg {left: 45px;}
.r_leg {right: 45px;}

.head:hover {
    -webkit-transform: rotate(-15deg) translate(-14px, -28px);
    -transform: rotate(-15deg) translate(-14px, -28px);
    -moz-transform: rotate(-15deg) translate(-14px, -28px);
}

.l_arm:hover {
    -webkit-transform: rotate(45deg) translate(-44px, 0);
    -transform: rotate(45deg) translate(-44px, 0);
    -moz-transform: rotate(45deg) translate(-44px, 0);
}

.r_arm:hover {
    -webkit-transform: rotate(-75deg) translate(50px, 0);
    -transform: rotate(-75deg) translate(50px, 0);
-moz-transform: rotate(-75deg) translate(50px, 0);  
}   

.head:hover .l_eye {
    display: none;
}

.l_leg:hover {
    -webkit-transform: rotate(20deg) translate(-18px, 0);
    -transform: rotate(20deg) translate(-18px, 0);
    -moz-transform: rotate(20deg) translate(-18px, 0);
}

.r_leg:hover {
    -webkit-transform: rotate(-20deg) translate(20px, 0);
    -transform: rotate(-20deg) translate(20px, 0);
    -moz-transform: rotate(-20deg) translate(20px, 0)
}